body{
    background-color:#3A3535 !important;

}
/*tono de rojo-> #9D3035*/

header{
    width: 95%;
    margin:0 auto;
    background-image: url(images/scarlet_texture-wallpaper-1920x1080.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height:100px;
}

#img-logo{
    background-image:url(images/logo_netflox.png);
    background-size:contain;
    background-repeat: no-repeat;
    height:100px;
    width: 30%;
    float:left;

}
#bus_user{
    width:10%;
    float: right;
    height: 150px;
    display: block;
}
#buscar{
    background-image:url(images/lupa.png);
    background-size:contain;
    background-repeat: no-repeat;
    height:75px;
    width: 10%;
    float:right;
}
#usuario{
    background-image:url(images/user.png);
    background-size:contain;
    background-repeat: no-repeat;
    height:75px;
    width: 10%;
    float:right;
}
menu{
    width: 95%;
    margin:0 auto;
    background-image: url(images/scarlet_texture-wallpaper-1920x1080.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
#listamenu{
    margin:0 auto;
    width:70%;
    padding-bottom: 5px;
}

#listamenu li{
    display: inline-block;
    list-style-type: none;
}
#listamenu li:nth-child(n){
    margin-left:35px;
}
#listamenu a{
    display:block;
    padding: 5px;
    background-color:#9D3035;
    text-decoration: none;
    color:black;
    border-radius: 15%;
}
#listamenu a:hover{
    background-color:white;
    color: #9D3035;
}

#principal{
    width: 95%;
    margin: 0 auto;
    height: 800px;
    border: 1px solid red;
    background-color:#3A3535;
}


footer .enlaces-footer li {
    list-style: none;
    padding:10% 0;
    
}

footer .enlaces-footer li a{
    text-decoration: none;
    color:white;
}

footer {
    background-image: url(images/scarlet_texture-wallpaper-1920x1080.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 95%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .enlaces-logo-social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer .logo-footer img{
    width:30%
}

footer .logo-footer{
    display: flex;
    justify-content: center;
}

footer .copyright{
    display: flex;
    justify-content: center;
    color:white
}

footer .social-footer{
    color:white;
}

#ficha{
    width:100%;
    color:white;
}
#imagen-ficha{
    background-image: url(images/not-available.png);
    background-repeat: no-repeat;
    background-size: contain;
    float:left;
    width:40%;
    height:800px;
}
#descripcion{
    float:right;
    width:40%;
}
#datos-ficha{
    list-style-type: none;
}
#trailer{
    float:left;

}

#contenedor_listado{
    border:1px solid black;
    margin: 0 auto;
    height: 900px;
}

#imagen_listado{
    border:1px solid red;
    height: 300px;
    width: 20%;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

#titulo_listado{
    border:1px solid green;
    height: 50px;
    width: 20%;
    overflow: hidden;
    margin-top: 2%;
    margin-left: 2%;
}

#anio_listado{
    border:1px solid blue;
    height: 50px;
    width: 20%;
    overflow: hidden;
    margin-top: 2%;
    margin-left: 2%;
}

#trailer_listado{
    text-decoration: none;
    font-size: 40px;
    width: 5%;
    float: right;
    background-color: #3A3535;
    overflow: hidden;
}
form{
    color:white;
}
#ver_mas_listado{
    text-decoration: none;
    font-size: 40px;
    width: 5%;
    float: right;
    background-color: #3A3535;
    overflow: hidden;
}

#contenedor_descrip_info{
    border: 1px solid aqua;
    height: 100px;
    width: 20%;
    overflow: hidden;
}

#descripcion_listado, #info_listado{
    border: 1px solid yellow;
    height: 100px;
    width: 100%;
    margin-top: 5%;
    margin-left: 2%;
}

#contenedor_principal{
    border:1px solid red;
}

.titulo-pelis_series{
    display: flex;
    justify-content: center;
    color:red;
    background-color:#3A3535;

}